<html>
<head>
    <style type="text/css">
        html {
            font-family: system-ui;
            height: 100%;
        }
        /* body {
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f0f0f0;
        } */
         body {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Distribute space between elements */
            height: 100vh; /* Ensure the body takes the full viewport height */
            background-color: #f0f0f0;
        }

        header, footer {
            background-color: #ccc;
            padding: 20px;
            text-align: center;
        }
        .div_employee {
            border: 1px solid black;
            border-radius: 10px;
            padding: 50px;
            background-color: black;
            color: white;
        }
        .div_button {
            display: flex;
            justify-content: space-between;
            align-items: end;
            position: fixed;  
            bottom: 5px;
            width: 95%;  
            color: white;  
            text-align: center;  
        }
        .button {
            border: 2px solid #ff0606;
            border-radius: 5px;
            background-color: #ff0606;
            margin: 20px 0px;
            padding: 10px 20px;
            font-size: 20px;
            color: white;
            text-decoration: none;
        }

        .button:hover {
            cursor: pointer;
            background: white;
            color: #ff0606;
        }
        .task_button {
            border: 2px solid #ff0606;
            border-radius: 20px;
            background-color: #ff0606;
            /* margin: 20px 0px; */
            padding: 10px 20px;
            font-size: 20px;
            color: white;
            text-decoration: none;
        }

        .task_button:hover {
            cursor: pointer;
            background: white;
            color: #ff0606;
        }
        .else {
            display: flex;
            justify-content: center;
            background: red;
            color: white;
            width: 100%;
            font-weight: bold;
            padding: 20px;
        }
        table {
        border: 1px solid #C8C7C7;
        border-radius: 6px;
        border-spacing: 0px;
        empty-cells: hide;
        }
        td, th {
            border: 1px solid rgb(190,190,190);
            padding: 10px;
            width: 120px;
        }
        th {
            border: 0.01mm solid #C8C7C7;
            background-color: #ECECEC
        }
    </style>
</head>
<header>
    <p>Welcome <%= @user.username %></p>
    <%= button_to 'Create Task', new_task_path, method: :get, class: 'task_button' %>
</header>
<body>
    <table>
        <thead>
            <tr>
            <th style="text-align:left;">Name</th>
            <th style="text-align:left;">Description</th>
            <th style="text-align:left;">DeadLine</th>
            <th style="text-align:left;">Status</th>
            <th style="text-align:left;">Update Status</th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |task| %>
            <tr>
                <td><%= task.name %></td>
                <td><%= task.description %></td>
                <td><%= task.deadline.strftime("%B %d, %Y %I:%M %p") %></td>
                <td>
                    <%= task.status %>
                </td>
                <td><%= link_to 'Update status', edit_task_path(task), class: 'edit-button' %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</body>
<footer>
    <%= button_to 'Logout', logout_path, method: :delete, class: 'button' %>
</footer>